/* 
    Document   : Iframe
    Created on : 8/10/2010, 02:23:10 PM
    Author     : wardog
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
body{
background: white;
}
.send2friend {
   
}
.send2friend fieldset {
    border: none;
    text-align: right;
    margin-top: 20px;
}
.send2friend input[type=text] {
    width: 300px;
}
.send2friend label {
    float: left;
    margin-right: 50px;
}
.send2friend fieldset div {
    padding-left: 10px;
}
.send2friend .Actions {
    text-align: right;
    padding-right: 10px;
}